<div class="banner-img short" style="background-image: url('/images/public-images/university-header.jpg'); height: 400px;">
  <div class="col-sm-11 col-sm-offset-1" style="align-self: center; margin: auto">

    <div class="row banner-search">
      <div class="col-sm-9">
        <div class="form-group">
          <form method="POST" action="/programs">
            <input name="programSearch" id="programSearch" placeholder="Search program by keyword e.g. Pharmacy, CS, Business..." class="form-control input-lg">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <button type="submit" class="btn btn-lg btn-search"> SEARCH PROGRAMS</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="my-3 my-md-5">
  <div class="container">
    <div class="page-title">
      <h1> Programs </h1>
      <h5> Read Proram details, eligibility, deadlines and more</h5>
    </div>
    <hr>
    <div class="row row-cards row-deck">
      {{#each programs}} {{#each this.programs}}
      <div class="col-lg-6">
        <div class="card card-aside">
          <div class="card-img">
            <img src="{{../this.logo}}" height="160px" class="university-logo" alt="">
          </div>
          <div class="card-body d-flex flex-column">
            <h4>
              <a href="/program/{{../this._id}}/{{this._id}}">{{this.programName}}</a>
            </h4>
            <span> {{../this.universityName}} , {{../this.city}} </span>
            <br>
            <span> Tution Fee: {{this.totalFee}} </span>
            <span> Application Date: {{dateFormat this.applicationDate "MMMM Do, YYYY"}}

            </span>
            <a href="/program/{{../this._id}}/{{this._id}}"> View Details</a>
          </div>
        </div>
      </div>
      {{/each}} {{/each}}
    </div>
  </div>
</div>