<div class="table-wrapper col-lg-6 center">
  <div class="table-title">
    <div class="row">
      <div class="col">
        <h2>Add University</h2>
      </div>
      <div class="col">
        <a href="/university" class="btn btn-success"> View All</a>
      </div>
    </div>
  </div>
  <div class="form-wrapper">  
    {{#if success_message }}
      <div class="alert alert-success">{{success_message}}</div>
    {{/if}}
    {{#if error_message}}
      <div class="alert alert-danger">{{error_message}}</div>
    {{/if}}
  <form action="/university/add" method="POST">
    <div class="form-group">
      <label for="universityName"> University Name</label>
          {{#if errors.universityName}}
            <span class="red">  {{errors.universityName.msg}} </span>
          {{/if}}
      <input type="text" name="universityName" value="{{university.universityName}}" class="form-control" id="universityName">
    </div>

    <div class="form-group">
      <label for="address">Address</label>
          {{#if errors.address}}
            <span class="red">  {{errors.address.msg}} </span>
          {{/if}}
      <input type="text" name="address" value="{{university.address}}" class="form-control" id="address">
    </div>
    
    <div class="form-group">
      <label for="city">City</label>
       {{#if errors.city}}
          <span class="red">  {{errors.city.msg}} </span>
        {{/if}}
      <input type="text" name="city" value="{{university.city}}" class="form-control" id="city">
    </div>

    <div class="form-group">
      <label for="country">Country</label>
        {{#if errors.country}}
          <span class="red">  {{errors.country.msg}} </span>
        {{/if}}      
        <input type="text" name="country" value="{{university.country}}" class="form-control" id="country">
    </div>

    <div class="form-group">
      <label for="contact">Contact</label>
        {{#if errors.contact}}
          <span class="red">  {{errors.contact.msg}} </span>
        {{/if}}
      <input type="text" name="contact" value="{{university.contact}}" class="form-control" id="contact">
    </div>

    <button type="submit" class="btn btn-primary"> Submit </button>
  </form>
  </div>
</div>