<div class="table-wrapper col-lg-6 center">
  <div class="table-title">
    <div class="row">
      <div class="col">
        <h2>Signin</h2>
      </div>
    </div>
  </div>
  <div class="form-wrapper">  
    {{#if success_message }}
      <div class="alert alert-success">{{success_message}}</div>
    {{/if}}
    {{#if error_message}}
      <div class="alert alert-danger">{{error_message}}</div>
    {{/if}}

  <form action="/signin" method="POST"> 
    <div class="form-group">
          {{#if errors.username}}
            <span class="red">  {{errors.username.msg}} </span>
          {{/if}}
      <input type="text" name="username" value="{{users.username}}" class="form-control" id="username" placeholder="Username">
    </div>

    <div class="form-group">
          {{#if errors.password}}
            <span class="red">  {{errors.password.msg}} </span>
          {{/if}}
      <input type="text" name="password" value="{{users.password}}" class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary"> Signin </button>
  </form>
  </div>
</div>
