<div class="table-wrapper">
  <div class="table-title">
    <div class="row">
      <div class="col">
        <a href="/"> <h2>Home</h2> </a>
      </div>
      <div class="col-sm-6">
        <a href="/university/add" class="btn btn-success"> Add New University</a>
        <div>
          <form method="POST" action="/university">
            <div class="col-lg-8">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-info btn-border" type="submit" > Go </button>
                </span>
                <input type="text" name="universityName" class="form-control" placeholder="Search by university name...">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <table class="table">
     {{#if success_message }}
      <div class="alert alert-success">{{success_message}}</div>
    {{/if}}
    {{#if error_message}}
      <div class="alert alert-danger">{{error_message}}</div>
    {{/if}}
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Country</th>
        <th>Contact</th>
        <th>Actions</th>
      </tr>
    </thead>
  
  {{#if noRecord }}
    <div class="alert alert-danger">No record found</div>
  {{/if}}
   {{#unless noRecord }}
   
    <tbody>
      {{#each allUniversities}}
      <tr>
        <td> {{inc @index}}</td>
        <td><a href="university/{{this._id}}"> {{this.universityName}} </a> </td>
        <td>{{this.address}}</td>
        <td>{{this.city}}</td>
        <td>{{this.country}}</td>
        <td>{{this.contact}}</td>
        <td>
          <a href="university/update/{{this.id}}"><span class="font-edit-icon"><i class="fas fa-pencil-alt"></i></span> </a>
          <a href="university/delete/{{this.id}}"><span class="font-del-icon"><i class="fas fa-trash-alt"></i></span> </a>
        </td>
      </tr>
      {{/each}}
       <tr>
        <th>#</th>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Country</th>
        <th>Contact</th>
        <th>Actions</th>
      </tr>
    </tbody>
    {{/unless}}
  </table>
</div>

<div class="navigation">
<ul class="pager">
  
  {{#if pages }} 
    {{#each pages }}
      <a href="{{this.url}}" class="btn btn-info"> {{this.number}}</a>
    {{/each}}
  {{/if}}
  
</ul>
</div>
